header{
    background: url(../imagenes/fondo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
}
.btn{
    display: inline-block;
    background-color: rgb(242, 117, 28);
    color: white;
    text-decoration: none;
    padding: 13px 25px;
    margin-top: 25px;
}
.btn:hover{
    background-color: rgb(237, 105, 11);
}
article{
    background: url(../imagenes/fondo3.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 26px;
}
.logo-img {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
    width: 250px;
    height: 250px;
  }

  
  .logo-title {
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  .border-bottom {
    width: 300px; 
  }

  
  .line-thick {
    border: none;
    height: 5px;
    background-color: rgb(255, 255, 255);
  }
  .line-black {
  border: none;
  height: 4px;
  background-color: black;
  width: 55%; 
}
.imagen-formulario {
  width: 100%; 
  height: auto;
}
