body{
    font-family: 'Tahoma';
}
.img-fondo:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-out;
}
.fondo{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: white;
}
.img-fondo{
    width: 100%;
    height: 400px;
    display: block;
    transition: all 0.5s ease-out;
}
.img-en{
    position: relative;
    width: 120px;
    float: right;
}
.encabezado{
    position: absolute;
    background: rgb(82, 82, 82);
    background: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    height: 30%;
    padding: 5px;
    display: block;
}
.a{
    color: black;
    font-size: 24px;

    
}
h6{
    color: rgb(47, 0, 255);
    font-size: 28px;
}
